/* noticias.html */
.noticias {
    margin-top: 90px;
  }
  
  .news {
    display: grid;
    grid-template-rows: 150px 150px 150px 150px;
    padding: 0;
    margin: auto;
    margin-top: 60px;
    width: 70%;
    font-size: 30px;
    text-align: center;
    list-style: none;
  }
  
  .n1 {
    margin-top: 20px;
  }
  
  .n2 {
    margin-top: 40px;
  }
  
  .n3 {
    margin-top: 140px;
    font-size: 30px;
  }
  
  .n4 {
    margin-top: 140px;
    font-size: 30px;
  }
